<p>header works!</p>
<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/page1" routerLinkActive="active">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/page2" routerLinkActive="active">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/page3" routerLinkActive="active">Link</a>
                </li>
            </ul>

        </div>
    </div>
</div>